<header class="navbar">
  <div class="logo">
    <h1>Smashes Store</h1>
  </div>
  <nav>
    <ul class="navbar-links" [class.active]="isMenuOpen">
      <li><a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Inicio</a></li>
      <li><a routerLink="/products" routerLinkActive="active" (click)="closeMenu()">Productos</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contacto</a></li>
    </ul>
    <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
  </nav>
</header>
<router-outlet></router-outlet>
